

.vxe-grid {

  &--form-wrapper {
    .vxe-form {
      padding: 10px 20px;
      margin-bottom: 20px;
    }
  }


  &--toolbar-wrapper {
    .vxe-toolbar {
      padding: 20px;
    }
  }


  &--pager-wrapper {
    .vxe-pager {
      height: 70px;
      padding: 0 20px;
      &--wrapper {
        @media screen and (max-width: 768px) {
          .vxe-pager--total,
          .vxe-pager--sizes,
          .vxe-pager--jump,
          .vxe-pager--jump-prev,
          .vxe-pager--jump-next {
            display: none;
          }
        }
      }
    }
  }
}
